@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<h3>Products list</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>General note</th>
            <th>Special note</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var p in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => p.Name)</td>
            <td>@Html.DisplayFor(m => p.Description)</td>
            <td>@Html.DisplayFor(m => p.Price)</td>
            <td>@Html.DisplayFor(m => p.GeneralNote)</td>
            <td>@Html.DisplayFor(m => p.SpecialNote)</td>
            <td>@Html.DisplayFor(m => p.Category.Name)</td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = p.Id }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = p.Id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
</table>