@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Manage accounts Page";
}
<h4>Manage accounts</h4>
<p>
    @Html.ActionLink("Create", "Create", "ManageAccounts", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => user.Email)</td>
            <td>@Html.DisplayFor(m => user.Roles)</td>
            <td class="d-flex justify-content-center">
                @Html.ActionLink("Lock", "LockUser", new { id = user.Id }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Change password", "ChangeUserPassword", new { id = user.Id }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = user.Id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
</table>
